<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAoZH1Kk11jRrvzzKgncc3vYoA6UOGhUyA</string>
	<key>GCM_SENDER_ID</key>
	<string>37463514185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.tum.tca-flutter</string>
	<key>PROJECT_ID</key>
	<string>tum-campus-app-test</string>
	<key>STORAGE_BUCKET</key>
	<string>tum-campus-app-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37463514185:ios:24e365da3f11ea9c0f3398</string>
</dict>
</plist>